.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

/* new stuff below here... */
.header {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
}

.child {
  width: 250px;
  margin: auto;
}

.relativePosition {
  position: relative;
}

.label {
  font-weight: bold;
  display: block;
  marginBottom: 10px,
}

.combobox-style {
  display: inline-block;
  margin-left: 5px;
}

.listGroup-style{
  max-height: 200px;
  width: auto;
  overflow-y: scroll;
  position: relative;
}

.listItem-style{
  position: relative;
  display: block;
  padding: 0px 10px; /* adjust here */
  margin-bottom: 1px;
  border: 1px solid #ddd;
  line-height: 1em /* set to text height */
}



@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
